*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    background-color: #ccc;
}

.contenedor-seccion{
    background-color: #000;
    border-bottom: 5px solid transparent;
}

/* .logotipo{
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    font-size: 40px;
    color: var(--rojo);
} */